#list-items {
  width: 60%;
}

.completed {
  text-decoration-line: line-through;
  /* 더블클릭 시 파란색 배경 잡힘 방지용 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noncompleted {
  /* 더블클릭 시 파란색 배경 잡힘 방지용 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
